:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #111827;
	position: relative;
	overflow-x: hidden; /* Ensure content doesn't overflow */
}

body::after {
	content: "";
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: hsl(251, 59%, 31%);
	top: -100px;
	left: -100px;
	border-radius: 50%;
	filter: blur(150px);
	opacity: 0.6; /* Slight transparency for softer glow */
	z-index: -100; /* Make sure circles stay behind content */
}

body::before {
	content: "";
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: hsl(210, 100%, 20%);
	top: 0px;
	right: 0px;
	border-radius: 50%;
	filter: blur(150px);
	opacity: 0.6; /* Slight transparency for softer glow */
	z-index: -100; /* Make sure circles stay behind content */
}
